/*Custom CSS*/
@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    margin:0;
    font-family: 'Roboto', sans-serif;
}

body a{
    text-decoration: none;
    color: inherit;
}

header{
    min-height: 100vh;
}

.container{
    display: block;
    width: 80%;
    margin: 100px auto;
}

.countDown{
    display: table;
    margin:15px auto;
    font-size: 70px;
}

.text-center{
    text-align: center;
}

.bronze {
    color: #cd7f32;
}

.silver{
    color: #ccc;
}

.gold{
    color: #ffd700;
}

.diamond{
    color: #b9f2ff;
}

nav{
  text-align: center;
}

.header{
    width: 100%;
    height: 60vh;
    background: #03A9F4;
}

.logo{
    display: inline-block;
    width: 80px;
    margin: 20px;
}

.nav-list{
    list-style: none;
    display: inline-block;
    padding-left: 0;
    vertical-align: top;
    margin-top: 50px;
}

.nav-list li{
    display: inline;
    padding: 25px;
}

.nav-list li a{
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: 0.5px .5px 0 #494949;
}

.nav-list li:hover{
    background-color: rgba(255,255,255,.3);
}

.header-title{
    color: #fff;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 15px;
    margin-top: 20px;
    text-shadow: 0 0.5px 1px #eee;
}

.header-title-2{
    color: #fff;
    margin-top: 5px;
    margin-bottom: 0;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 15px;
}

.master{
    display: block;
    text-align: center;
    margin: 10px auto;
}

.arrow-row{
    position: relative;
}

.arrow{
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    margin:0 auto;
}

.section-h1{
    display: table;
    margin: 0 auto;
    font-size: 40px;
    letter-spacing: 1.5px;
    padding-bottom: 10px;
    border-bottom: 3px solid #494949;
}

.huge-title{
    font-size: 80px;
    letter-spacing: 5px;
    color: #03A9F4;
    text-transform: uppercase;
}

.p {
    font-size: 30px;
    letter-spacing: 1px;
    color: #494949;
}

.btn-blue{
    display: block;
    margin: 20px auto;
    font-size: 40px;
    text-transform: uppercase;
    padding: 20px 50px;
    background: transparent;
    border: 5px solid #03A9F4;
    border-radius: 10px;
    color: #03A9F4;
    cursor: pointer;
    transition: .3s;
}

.btn-blue:focus{
    outline: hidden;
}

.btn-blue:hover{
    background: #03A9F4;
    color: #fff;
}

.btn-blue:active{
    transform: translateY(5px);
}

.hr-div{
    border:0;
    margin: 100px auto;
    border-top: 3px solid #03A9F4;
}

.div-center{
    display: block;
    margin:0 auto;
    width: 60%;
}

.ul-blue{
    color: #03A9F4;
    font-size: 30px;
    letter-spacing: 1px;
}

.ul-blue li{
    margin: 30px auto;
    color: #494949;
}

.ul-blue li>span{
    color:red;
}

.border-styles{
    color: #03A9F4;
    font-size: 30px;
    letter-spacing: 1px;
}

.ul-blue li{
    margin: 30px auto;
    color: #494949;
}

.border-1{
    border: 1px solid red;
}

.border-2{
    border-top: 2px solid red;
}

.border-3{
    border-right: 3px solid red;
}

.border-4{
    border-bottom: 4px solid red;
}

.border-5{
    border-left: 5px solid red;
}

.border-padding{
    border: 1px solid red;
    padding: 15px;
}

.hover-ex:hover{
    color: #FF0000;
}

.code-background{
    background:#1C223C;
    padding: 20px;
    color: #f7f7f9;
}

.hw-header{
    width: 100%;
    height: 500px;
    background-color: #1C223C;
    text-align: center;
}

.hw-nav{
    margin:0 auto;
    padding-top: 50px;
}
.hw-nav li{
    display: inline;
    color: #f7f7f9;
    font-size: 30px;
    margin: 0 20px;
}
.hw-h1{
    font-size: 50px;
    color: #f7f7f9;
    margin-top: 80px;
}
