body{
    margin: 0;
}
.header{
    width: 100%;
    height: 500px;
    background-color: skyblue;
    text-align: center;
}
.nav{
    margin: 0;
    padding-top: 30px;
}
.nav li{
    display: inline;
    font-size: 30px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
}
.logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.header-h1{
    font-size: 60px;
    font-weight: bold;
    color: whitesmoke;
    margin-top: 50px;
}
.container{
    width: 70%;
    margin: 15px auto;
    text-align: center;
}
.redblock{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #f44336;
    margin: 20px;
}
.blueblock{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #2196F3;
    margin: 20px;
}
.purpleblock{
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #9C27B0;
  margin: 20px;
}
.blackblock{
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #212121;
  margin: 20px;
}
.grayblock{
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #9E9E9E;
  margin: 20px;
}
.goldblock{
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #FFEB3B;
  margin: 20px;
}
.greenblock{
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #4CAF50;
  margin: 20px;
}
.orangeblock{
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #FF9800;
  margin: 20px;
}
.news{
  overflow: hidden;
}
.image{
  display: inline-block;
  width: 50%;
  float: left;
}
.img{
  max-width: 100%;
}
.article{
  display: inline-block;
  width: 40%;
  vertical-align: top;
  text-align: left;
}
.article h2{
  margin-top: 0;
  margin-bottom: 0;
  color: #FF9800;
}
.article p:nth-child(2){
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 17px;
  color: gray;
}
.article p:last-child{
  font-size: 15px;
  color: black;
  margin-top: 0;
}
.newbutton{
  font-size: 20px;
  margin-top: 30px;
  background: transparent;
  border: 3px solid #2196F3;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
  text-transform: uppercase;
  letter-spacing: 5px;
  transition: .3s;
  cursor: pointer;
}
.newbutton:hover{
  background: #2196F3;
  color: white;
  border-radius: 10px;
}
