.h1class{
  font-size: 80px;
  color: white;
  background-color: lightblue;
  width: 100%;
  height: 300px;
  margin:0;
  padding-top: 150px;
  text-align: center;
}

.ulclass{
  font-size: 35px;
  color: blue;
  display: inline-block;
  margin-top: 30px;
}
.ulclass li{
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid black;
  display: inline;
  margin-right:20px;
  padding: 20px;
}
.divclass{
  text-align: center;
}

body{
  margin:0;
}

.background-pink{
  background: pink;
}

.background-blue{
  background: skyblue;
}

.background-purple{
  background: purple;
}

.background-gray{
  background: lightgray;
}

.background-brown{
  background:brown;
}
